@page

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PagesTitle"];
}

    <div class="row mb-3">
        <div class="col-12 pb-4">
            <h4 class="font-weight-bold text-center">@Localizer["Welcome"]</h4>
            <p class="text-secondary text-center">@Localizer["ProjectsIntroduction"]</p>
        </div>
        <div class="col-12 col-lg-4 mb-sm-4">
            <div class="rounded-lg shadow-sm">
                <img src="~/img/projects/leaders-guide.png" class="project-picture rounded-top" />
                <div class="p-3">
                    <p class="font-weight-bold">@Localizer["LeadersGuide"]</p>
                    <p class="text-secondary">
                        @Localizer["LeadersGuideDesc"]
                    </p>
                </div>
                <div class="p-2 pb-4 d-flex justify-content-center">
                    <a class="btn main-color-bg rounded-pill text-white px-5 small-text visit-project cursor-pointer">
                        @Localizer["LeadersGuideButton"]
                        <img src="~/img/arrow.svg" class="ml-2 arrow-right" />
                    </a>
                </div>
                
            </div>
        </div>        
    </div>